* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./ssn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.input-group {
    margin-top: 11%;
}

#validConc{
    margin-top: 6%;
    font-family: 'Fasthand', cursive;
    font-size: 6rem;
    font-weight: 400;
}

#parag{
    margin-top: 13%;
    font-family: 'Fasthand', cursive;
    font-size: 3rem;
    color: black;
}